<div class="calculator">
    <div class="calculator-container">
      <div class="input-group">
        <label for="value1">Valor 1</label>
        <input type="number" id="value1" [(ngModel)]="value1">
      </div>
  
      <div class="input-group">
        <label for="operator">Operação</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="operator" value="+" [(ngModel)]="operator">
            + (Soma)
          </label>
          <label>
            <input type="radio" name="operator" value="-" [(ngModel)]="operator">
            - (Subtração)
          </label>
          <label>
            <input type="radio" name="operator" value="*" [(ngModel)]="operator">
            * (Multiplicação)
          </label>
          <label>
            <input type="radio" name="operator" value="/" [(ngModel)]="operator">
            / (Divisão)
          </label>
        </div>
      </div>
  
      <div class="input-group">
        <label for="value2">Valor 2</label>
        <input type="number" id="value2" [(ngModel)]="value2">
      </div>
  
      <div class="input-group">
        <label for="result">Resultado</label>
        <span>{{result}}</span>
      </div>
  
      <button (click)="calculate()" [disabled]="!value1 && !value2">Calcular</button>
      <button (click)="clear()">Limpar</button>
    </div>
  </div>
  